<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{ textePop }}</p>
                <button type="button" class="btn btn-primary btn_block" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>